.photo-container {
    background-image: url("images/palms2.jpg");
    background-size: 100%;
    width: 100%;
    padding: 30px;
    min-height: 81%;
}

.photo-container div {
    color: #f1f1f1;
}

.left-title {
    float: left;
    margin: 100px;
    font-size: 80px;
}

.right-title {
    margin-top: 600px;
    margin-right: 100px;
    float: right;
    font-size: 130px;
}

.title {
    font-size: 90px;
    color: #043725;
    padding: 50px 200px;
}

.text {
    font-size: 40px;
    color: #212121;
    justify-content: center;
    padding: 0 100px;

}

.images-container {
    align-content: center;
}

.images-container div {
    width: 21%;
    height: 300px;
    padding: 100px;
    display: inline-block;
}

.images-container div img {
    width: 100%;
    height: 100%;
}
